<div class="container">
	<div class="title-text">
		<p>Professor of</p><p>Pig Latin</p>
	</div>
	<div class="main-image">
			<%= image_tag("RoyalPigReads.jpg")%>
	</div>
	<div class="form">
		<%= form_tag( url: pages_path ) do %>
		<%= select_tag(:pair, options_for_select([['English to Pig Latin', 1], ['Pig Latin to English', 2]])) %>
		<%= text_field_tag :pig_latin %>
		<%= text_field_tag :english %>
		<%= submit_tag "Translate, please!"%>
		<% end %>
	</div>

</div>