<div class="container">
	<div class="title-text">
		<p>Professor of</p><p>Pig Latin</p>
	</div>
	<div class="main-image">
			<%= image_tag("RoyalPigReads.jpg")%>
	</div>
	<div class="form" id="picker-form">
		<%= form_tag( url: new_page_path ) do %>
		<%= radio_button_tag(:pair, "english", :class => "radio-button english-checked") %>
		<%= label_tag(:english, "English to Pig Latin") %>
		<%= radio_button_tag(:pair, "piglatin", :class => "radio-button pig-latin-checked") %>
		<%= label_tag(:pig_latin, "Pig Latin to English") %>
		<%= text_field_tag :pair %>
		<%= submit_tag "Translate, please!"%>
		<% end %>
	</div>

</div>