<div class="container">
	<div class="title-text">
		<p>Professor of</p><p>Pig Latin</p>
	</div>
	<div class="main-image">
			<%= image_tag("RoyalPigReads.jpg")%>
	</div>
	<div class="form" id="picker-form">
		<%= form_for(@pair) do |f| %>
		<%= f.radio_button :english, "english" %>
		<%= f.label :english, "English to Pig Latin" %>
		<%= f.radio_button :pig_latin, "piglatin" %>
		<%= f.label :pig_latin, "Pig Latin to English" %>
		<%= f.text_field :english %>
		<%= f.submit "Translate, please!"%>
		<% end %>
	</div>
	<div id="translations">
		
	</div>
	


</div>