<div class="container">
	<div class="title-text">
		<p>Professor of</p><p>Pig Latin</p>
	</div>
	<div class="main-image">
			<%= image_tag("RoyalPigReads.jpg")%>
	</div>
	<div class="form">
		<%= form_tag(pairs_path, :id => "first_form") %>
		<%= label_tag "English to Pig Latin" %>
		<%= text_field_tag :english %>
		<%= label_tag "Pig Latin to English" %>
		<%= text_field_tag :pig_latin %>
		<%= submit_tag "Translate, please!" %>
	</div>

	<div id="translations">
		
	</div>
	<div id="key_entry">
		<p>Enter the key in here, my friend, for translations you'd like to see again!</p>
		<%= form_tag(pairs_path, :id => "key_form") do %>
		<%= text_field_tag :search, params[:search]	%>
		<%= submit_tag "What was that pair again?" %>
		<% end %>
	</div>
	
</div>